<h1>You are looking into the eyes of a $member.getName(), member of $team.getName()</h1>

<a href="/teams/$team.getId()"><button class="btn btn-info">View This Team</button></a>
<a href="/teams"><button class="btn btn-success">View All Teams</button></a>
