<h1>Take a bow, you added a member to a team</h1>

<h3>Your $member.getName() has been added to the $team.getName() team.</h3>

<a href="/teams/$team.getId()/members/new"><button class="btn btn-info">Add Another Member to $team.getName()</button></a>
<a href="/teams/$team.getId()"><button class="btn btn-success">View $team.getName()</button></a>
<a href="/teams"><button class="btn btn-danger">View All Teams</button></a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
