<div id="member-info">
  <h1>Get to know $member.getName()</h1>
</div>
<h2>What makes $member.getName() special? $member.getSkill()</h2>
<h2>$member.getName() is currently on team $team.getName()</h2>
<div id="image">
  $member.getImage()
</div>
<a href="/teams/$team.getId()"><button class="btn btn-success">View This Team</button></a>
<a href="/teams"><button class="btn btn-danger">View All Teams</button></a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
