<h1>Yay, you added $team.getName()</h1>

<a href="/teams/$team.getId()/members/new"><button class="btn btn-info">Add a Member to $team.getName()</button></a>
<a href="/teams/new"><button class="btn btn-success">Add another team</button></a>
<a href="/teams"><button class="btn btn-danger">View All Teams</button></a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
