<h1>Here are all your teams</h1>

#if ($teams)
  #foreach ($team in $teams)
    <h3><a href="/teams/$team.getId()">$team.getName()</a></h3>
  #end
#end

<a href="/teams/:team_id">View Team</a>

<a href="/teams/new"><button class="btn btn-info">Add a Team</button></a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
