<h1>Add a team</h1>

<form action="/teams" method="post">
  <div class="form-group">
    <label for="teamName">Team Name:</label>
    <input type="text" id="teamName" name="teamName" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success">Add Team</button>
</form>

<a href="/"><button class="btn btn-warning">Go Home</button></a>
