<!--team.vtl-->
<h1>Welcome to $team.getName()</h1>

#if ($members)
  #foreach ($member in $members)
    <h3><a href="/teams/$team.getId()/members/$member.getId()">$member.getName()</a></h3>
  #end
#end

<a href="/teams/$team.getId()/members/new"><button class="btn btn-info">Add Team Member</button></a>
<a href="/teams"><button class="btn btn-success">View All Teams</button></a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
