<!--team.vtl-->
<h1>You are looking at a single team</h1>

<h1>$team.getName()</h1>

<a href="/teams/:team_id/members/new"><button class="btn btn-info">Add Team Member</button></a>
<a href="/teams"><button class="btn btn-success">View All Teams</button></a>
<a href="/teams/:team_id/members/:member_id">View Single Member</a>
<a href="/"><button class="btn btn-warning">Go Home</button></a>
